:root {
    --header-height: 8vh;
}

.Test {
    line-height: 1000px;
}

.hero {
    padding-right: 70px;
    padding-left: 15px;
    padding-top: 1em;
    padding-bottom: 2em;
}

.hero .first-row .hero-title {
    padding-right: 0;
    width: 55%;
}

.hero .first-row {
    display: inline;
}

.hero .first-row .hero-title .title {
    font-size: 50px;
    font-weight: bold;
}

.header-img {
    height: 50px;
}

.navbar {
    width: 100vw;
}


/*RESPONSIVE MEDIA CHANGES*/

@media screen and (max-width: 479px) {
    .hero .first-row .hero-title {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .hero .image {
        display: none;
    }
    .hero .first-row .hero-title .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 1126px) {
    .hero .image {
        height: 250px;
    }
    .hero .first-row .hero-title .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 905px) {
    .hero .image {
        height: 240px;
    }
}

@media screen and (max-width: 890px) {
    .hero .image {
        height: 220px;
    }
}

@media screen and (max-width: 805px) {
    .hero .image {
        height: 200px;
    }
}

@media screen and (max-width: 743px) {
    .hero .image {
        height: 190px;
    }
    .hero .first-row .hero-title .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 706px) {
    .hero .image {
        height: 150px;
    }
    .hero .first-row .hero-title .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .hero .image {
        display: none;
    }
    .hero {
        padding-right: 0px;
    }
}

@media screen and (max-width: 584px) {
    .hero .image {
        display: none;
    }
    .hero .first-row .hero-title .title {
        font-size: 30px;
    }
    .hero {
        padding-right: 0px;
    }
}