README.md
LICENSE

.gitignore
.prettierrc.json
.eslintrc.json
.eslintignore
.env
.dockerignore

.git
global_assets
build

node_modules
client/node_modules

client/.eslintignore
client/.eslintrc.json
client/.gitignore
client/.prettierrc.json
client/README.md