@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap");
.hero {
  background-color: var(--background-color);
  color: var(--color);
  margin-top: 2em;
  margin: 3em;
}

.title {
  font-family: "Fredoka One", cursive;
}

.credits {
  font-size: 25px;
  color: rgb(143, 1, 60);
  font-family: "Righteous", cursive;
}

.love {
  transition: 0.3s ease-in-out;
}

.love:hover {
  font-size: 30px;
}

.hero-title {
  font-size: 3.3vw;
}

.hero-img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 960px) {
  .hero {
    margin: 10px;
  }
  .hero-title {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    margin: 10px;
  }
  .hero-title {
    font-size: 10vw;
  }
}
