html[data-theme="light"] {
  --color: rgb(5, 5, 5);
  --background-color: rgb(250, 250, 250);
  --background-color-nav: #fff;
  --banner: url("../assets/courseyard-banner.png");
  --box-shadow-nav: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
